@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import 'vars';

// Overrides
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

body {
    background: $black;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: 300;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

// Global Styles
.pnc-header,
.pnc-social,
.pnc-section {
    align-items: center;
    display: flex;
    justify-content: center;

}

.pnc-header,
.pnc-social {
    z-index: 2;
}

.pnc-section {
    flex-grow: 1;
    align-items: stretch;

    h1 {
        font-size: 1.5em;
    }
}

.pnc-header__container,
.pnc-social__container,
.pnc-section__container {
    padding: 1em .75em;
    max-width: 960px;
    width: 100%;

    .pnc-section & {
        background: white;
    }

    @media screen and (min-width: 590px) {
        padding: 2em 1.5em;
    }
}

.pnc-button {
    box-shadow: .25em .25em .5em rgba(0,0,0,.25);
    border-radius: .5em;
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    transition: .2s all ease-in-out;

    &--resume {
        background-color: $button-purple;
        color: white;

        &:hover {
            background-color: lighten($button-purple, 3);
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}