// Colors
$background-gray: #fafafa;
$black: #333333;
$blue: #4186c4;

$linkedin: #1178b3;
$twitter: #2aa3ef;
$email-gray: #efefef;
$email-red: #d34c42;

// Component Colors
$button-blue: rgba($blue, .6);
